[Service]
ExecStart=/opt/loxone-grafana/run.sh
WorkingDirectory=/opt/loxone-grafana/
User=msk
Group=msk

[Install]
WantedBy=multi-user.target
Restart=always
